$header
<body>

$navigation

  <header class="intro-header" style="background-image: url('$bg_image')"> <!-- source: $bg_image_source -->
    <div class="container">
      <div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	  <div class="site-heading">
	    <h1>$page_heading</h1>
	    <hr class="small">
	    <h2 class="subheading">$page_subheading</h2>
	    $post_date
	  </div>
	</div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	
$contents
	
      </div>
    </div>
  </div>

  <hr>

$footer
