  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
	<a name="contacts"></a>
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	  <ul class="list-inline text-center">
	    <li>
	      <a href="mailto:denis@papathanasiou.org">
		<span class="fa-stack fa-lg">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
		</span>
	      </a>
	    </li>
	    <li>
	      <a href="https://github.com/dpapathanasiou">
		<span class="fa-stack fa-lg">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
		</span>
	      </a>
	    </li>
	  </ul>
	</div>
      </div>
      <div class="row">
	<a name="license"></a>
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	  <p class="copyright text-muted">
	    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a> &nbsp;
	    This site's content is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons (BY-NC-SA 4.0)</a>
	  </p>
	</div>
      </div>
    </div>
  </footer>

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="$docroot/js/my-blog.min.js"></script>
  
</body>
</html>
