  <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
      <li class="sidebar-brand"><a href="$docroot/" onclick = $("#menu-close").click(); >Denis Papathanasiou</a></li>
      <li class="sidebar-brand"><a href="$docroot/aikido.html" onclick = $("#menu-close").click(); >aikido</a></li>
      <li class="sidebar-brand"><a href="$docroot/hardware.html" onclick = $("#menu-close").click(); >hardware</a></li>
      <li class="sidebar-brand"><a href="$docroot/programming.html" onclick = $("#menu-close").click(); >programming</a></li>
      <li class="sidebar-brand"><a href="$docroot/random.html" onclick = $("#menu-close").click(); >random</a></li>
      <li class="sidebar-brand"><a href="$docroot/technology.html" onclick = $("#menu-close").click(); >technology</a></li>
      <li class="sidebar-brand"><a href="$docroot/#contacts" onclick = $("#menu-close").click(); >contact</a></li>
    </ul>
  </nav>
